@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  /* Colors */
    /* Primary */
    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);
    /* Secondary */
    --Red: hsl(0, 87%, 67%);
    /* Neutral */
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
  /* Typohraphy */
    --font-size: 18px;
      font-family: 'Poppins', sans-serif;
    --font-weight1: 500;
    --font-weight2: 700;
    background-color: whitesmoke;
}

html, body, main{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
}