:root{
  --padding-left-right: 25px;
  background-color: var(--Gray);
}

.advance-statistics {
  display: grid;
  place-items: center;
  padding: 80px var(--padding-left-right);
}

.advance-statistics h2, p {
  margin: 0;
}

.advance-statistics p {
  padding-top: 20px;
  text-align: center;
  color: var(--Grayish-Violet)
}

.banner-container{
  max-width: 100vw;
  overflow: hidden;
}

.banner-container .inside{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.banner-container .inside h1{
  font-size: 42px;
  line-height: 47px;
  margin: 0;
  padding: 0;
}

.banner-container .inside p{
  color: var(--Grayish-Violet);
  font-weight: var(--font-weight1);
  margin: 0;
  padding: 0 var(--padding-left-right);
}

.banner-container .inside button{
  background-color: var(--Cyan);
  border-radius: 35px;
  border: 0;
  color: white;
  font-size: var(--font-size);
  font-weight: var(--font-weight2);
  padding: 15px 45px;
}

.banner-container img{
  height: auto;
  padding-left: var(--padding-left-right);
  object-fit: cover;
  position: relative;
  width: 500px;
}

.form-container {
  max-width: 100vw;
  overflow: hidden;
  padding: 0 var(--padding-left-right);
}

.bg-form {
  background-image: url('bg-shorten-mobile.svg');
  background-position: top right;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

.form-container form {
  align-items: center;
  background-color: var(--Dark-Violet);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 125px;
  justify-content: center;
  margin-top: 75px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.form-container form button{
  background-color: var(--Cyan);
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: var(--font-size);
  font-weight: var(--font-weight2);
  padding: 10px 0;
  width: 90%;
  z-index: 1;
}

.form-container form input{
  border-radius: 5px;
  color: var(--Gray);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  padding: 10px 5%;
  text-align: left;
  width: 80%;
  z-index: 1;
}

.hamburger-button{
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 0;
  background-color: inherit;
}

.hamburger-button:hover {
  cursor: pointer;
}

.hamburger-button:active {
  filter: brightness(120%);
}

.horizontal-line{
  background-color: var(--Grayish-Violet);
  height: 3px;
  width: 25px;
}

header{
  border: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 35px var(--padding-left-right) 15px var(--padding-left-right);
  width: 100vw;
  overflow: hidden;
}

.mobile-nav-show {
  box-sizing: border-box;
  background-color: var(--Dark-Violet);
  width: calc(100% - 40px);
  margin: 0 20px;
  border-radius: 10px;
  padding: 35px 0;
  display: grid;
  place-items: center;

}

.mobile-nav-hide {
  display: none;
}

.mobile-nav-show > div {
  width: 100%;
  position: relative;
} 

.mobile-nav-show {
  position: absolute;
  z-index: 1;
}

.mobile-nav-show ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  gap: 25px;
}

.mobile-nav-show li{
  width: 100%;
  list-style: none;
  text-align: center;
}

.mobile-nav-show a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: var(--font-weight2);
}

.mobile-nav-show hr{
  margin: 0 var(--padding-left-right);
}

.statistics-card { 
  display: grid; 
  padding: 0 var(--padding-left-right); 
  place-items: center; 
  position: relative;
}

.statistics-card .traslate-bg-top { 
  position: absolute;
  top: -50px;
}

.statistics-card .image-container {
  background-color: #3b3054;
  border-radius: 100%;
  display: grid; 
  height: 100px;
  place-items: center;
  width: 100px; 
}

.statistics-card img{
  height: 50px; 
  width: 50px;
}

.statistics-card .information { 
  background-color: white; 
  border-radius: 10px; 
  display: grid;
  font-size: 16px; 
  text-align: center;
  padding: 45px var(--padding-left-right);
  place-items: center;
}

.statistics-card .information p{
  color: var(--Grayish-Violet);
  font-weight: var(--font-weight1);
}

.second-banner {
  background-color: var(--Dark-Violet);
  display: grid;
  gap: 20px;
  overflow: hidden;
  padding: 100px 0;
  place-items: center;
  position: relative;
}

.second-banner h2 {
  color: white;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.second-banner p {
  z-index: 1;
}

.second-banner-top-bg {
  background-image: url('bg-boost-mobile.svg');
  background-repeat: no-repeat;
  filter: brightness(110%);
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

footer {
  background-color: var(--Very-Dark-Violet);
  color: white;
  display: grid;
  place-items: center;
  position: relative;
  padding-bottom: 70px;
}
footer img {
  padding: 70px 0;
}

footer nav{
  display: grid;
  gap: 50px;
}

footer ul {
  list-style: none;
  display: grid;
  place-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

footer h3{
  font-size: 18px;
  margin: 0;
}

footer li a {
  color: var(--Gray);
  text-align: center;
  text-decoration: none;
}

 .media-icons {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.media-icons:hover{
  cursor: pointer;
}

.media-icons:active {
  height: 105%;
  width: 105%;
}